 .signup{
    margin-top: 20px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
    margin-top: -90px;
	background: #FFF;
}
.add{
    width:530px;
}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#F4F4F2; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#E4E4E2; cursor: pointer; color:#aaa; font-size:16px;}

.popupBody {padding:20px;}

/* User Login Form */
.user_login {display: none;}
.user_login label {display: block; margin-bottom:5px;}
.user_login .btn{
    margin: 0px 0 10px;
}
.kanan{
    text-align: right;
}

.form{
    float: right;
    padding: 45px;
    margin-top: 10px;
}
.form form input{
    margin-bottom: 12px;
    width: 430px;
    padding: 5px;    
    height: 30px;
    font-family: ralewayRegular;
    color: #444;    
    font-size: 14px;    
    border: 1px solid #dddddd;    
}
.form form button{
    font-family: ralewayRegular;
    background: #559CD0;
    border: none;
    padding: 10px;
    font-size: 12px;
    color: #FFF;
    border: 1px solid;
    margin-top: 15px;
    border-radius: 5px;
}